{% extends "base.html" %}

{% block title %}CV{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cv.css') }}">
    <img src="{{ url_for('static', filename='img/cafe.png') }}" class="avatar">
    <h1><em><br>cv</em></h1>
    <style>
        .cv-container {
            display: flex;
            justify-content: space-between;
        }
        .cv-column {
            flex: 1;
            margin: 0 10px;
        }
    </style>
    <div class="container cv-container">
        <div class="cv-column">
            <h2>work</h2>
            {% for item in work_list %}
                <div class="card">
                    <h3>{{ item.title | safe }}</h3>
                    <p>{{ item.subtitle | safe }}</p>
                    <p>{{ item.location | safe }}</p>
                    <p>{{ item.start_date | safe }} - {{ item.end_date | safe }}</p>
                </div>
            {% endfor %}
        </div>

        <div class="cv-column">
            <h2>education</h2>
            {% for item in edu_list %}
                <div class="card">
                    <h3>{{ item.title | safe }}</h3>
                    <p>{{ item.subtitle | safe }}</p>
                    <p>{{ item.location | safe }}</p>
                    <p>{{ item.start_date | safe }} - {{ item.end_date | safe }}</p>
                </div>
            {% endfor %}
        </div>

        <div class="cv-column">
            <h2>languages</h2>
            {% for item in lang_list %}
                <div class="card" style="height: 150px;">
                    <h3>{{ item.title | safe }}</h3>
                    <p>{{ item.subtitle | safe }}</p>
                    <p>{{ item.location | safe }}</p>
                    <p>{{ item.duration | safe }} years</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
