{% extends "base.html" %}

{% block title %}CV{% endblock %}

{% block content %}
    <h1>CV</h1>
    <style>
        .cv-container {
            display: flex;
            justify-content: space-between;
        }
        .cv-column {
            flex: 1;
            margin: 0 10px;
        }
    </style>
    <div class="container cv-container">
        <div class="cv-column">
            <h2>Work Experience</h2>
            {% for item in work_list %}
                <div class="card">
                    <h3>{{ item.title }}</h3>
                    <p>{{ item.subtitle }}</p>
                    <p>{{ item.location }}</p>
                    <p>{{ item.start_date }} - {{ item.end_date }}</p>
                </div>
            {% endfor %}
        </div>

        <div class="cv-column">
            <h2>Education</h2>
            {% for item in edu_list %}
                <div class="card">
                    <h3>{{ item.title }}</h3>
                    <p>{{ item.subtitle }}</p>
                    <p>{{ item.location }}</p>
                    <p>{{ item.start_date }} - {{ item.end_date }}</p>
                </div>
            {% endfor %}
        </div>

        <div class="cv-column">
            <h2>Languages</h2>
            {% for item in lang_list %}
                <div class="card">
                    <h3>{{ item.title }}</h3>
                    <p>{{ item.subtitle }}</p>
                    <p>{{ item.location }}</p>
                    <p>{{ item.start_date }} - {{ item.end_date }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
