{% extends "base.html" %}

{% block title %}RIR{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/rir.css') }}">
    <img src="{{ url_for('static', filename='img/lookingcolors.jpg') }}" class="avatar">
    <h1><em>random <br> internet <br>readings</em></h1>  
    <iframe src="https://funny-reminder-5cc.notion.site/ebd/f81274aaa59248128819d712ee8279c6?v=e5332dbb35904c46a3905c00e0a6b0df" width="100%" height="1000" frameborder="0" allowfullscreen />
{% endblock %}
