<!DOCTYPE html>
	<html>
		<head>
            <title>about</title>
            {% load static %}
			<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
			<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
			<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
		</head>

		<body>
            {% include "includes/navbar2.html" %}
            
            

            <div class="container">
                <img src="{% static 'img/lookingcolors.jpg' %}" class="avatar"/>
                
                <h1>
                    Academic:
                </h1> 

                <p>
                    
                    Currently working as a Machine Learning Engineer at <ahref="www.schibsted.com">Schibsted</a>.
                    In 2022, I completed my master's degree in Data Science at the University of Oslo, 
                    with a specialization in language technology and sentiment analysis.
                    I have experience in data wrangling, machine learning, MLOps, web development, and a solid background in mathematics. 
                </p>
                
                <h1>
                    Other interests:
                </h1>
                <p>
                    Typically, I am drawn toward ambient, droning soundscapes with subtle rhythms when focusing, and enjoy more drum, bass, and complex beats when training. 
                    My favorite genres range from 80's synth-pop, through classic soul & soft psychedelic rock, up to the clash of modern grime, with aspects of hip hop and electric DnB blended beautifully.
                    When it comes to sports, I lean toward endurance over sprints, as the human body was naturally made for.
                    I am a bilingual, wannabe-polygot, even though I know the tools I build are inevitability better than me here.
                    <br>
                    Oh, and shout-out to Pippi Langstrømpe for having one of the greatest quotes of all time:
                    <br>
                    <br>

                    <i>
                        <q>
                            Det har jeg aldri gjort før, så det klarer jeg helt sikkert.
                        </q>
                        <br>
                        Pippi Langstrømpe (1969)
                    </i>
                </p>
            
                
            </div>

			
			{% include "includes/footer.html" %}
            

		</body>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-146435196-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-146435196-1');
		</script>
	</html>
