<!DOCTYPE html>
	<html>
		<head>
            <title>about</title>
            {% load static %}
			<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
			<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
			<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
		</head>

		<body>
            {% include "includes/navbar.html" %}
            
            

            <div class="container">
                <img src="{% static 'img/lookingcolors.jpg' %}" class="avatar"/>
                
                <h1>
                    Academic:
                </h1> 

                <p>
                    Currently pursuing a master's in Data Science at the University of Oslo, 
                    with a specialization in language technologies.
                    I have experience in web scraping, database administration, machine learning, 
                    web developement, RESTful APIs, and a solid background in mathematics. 
                    Some languages I have experiences with are Python, Java, R, JavaScript, 
                    SQL, RDF, HTML, and CSS.
                </p>
                
                <h1>
                    Other interests:
                </h1>
                <p>
                    My favorite type of music is house, with LoFi-hiphop in a close second.
                    Harry Potter over Lord of the Rings, but mainly becuase I have yet to 
                    read the latter.
                    When it comes to sports, it's endurance over sprints, since thats what 
                    the human body was made for.                 
                </p>
            
                
            </div>

			
			{% include "includes/footer.html" %}
            

		</body>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-146435196-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-146435196-1');
		</script>
	</html>