<!DOCTYPE html>
	<html>
		<head>
            {% load static %}
            {% load home_tags %}
			<title>code</title>
			<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
			<link rel="stylesheet" type="text/css" href="{% static 'css/code.css' %}">
			<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
		</head>

		<body>
            {% include "includes/navbar2.html" %}
			
			<div class="container">
				{% for item in code_list %}
					{% card img_url=item.img_loc.url title=item.title descr=item.descr file_url=item.file_loc.url %}
				{% endfor %}
			</div>


			{% include "includes/footer.html" %}
		</body>

	</html>
