<!DOCTYPE html>
	<html>
		<head>
			<title>cv</title>
            {% load static %}
            {% load mathfilters %}
			<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
			<link rel="stylesheet" type="text/css" href="{% static 'css/cv.css' %}">
			<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
		</head>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-VK53JVJFXL"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-VK53JVJFXL');
		</script>

		<body>
            {% include "includes/navbar2.html" %}
			
			<div class="container">
				<img src="{% static 'img/headshot.jpg' %}" class="avatarcv">
				<h1 class="cv1">Per Morten Christopher Halvorsen </h1>
				<h3 class="cv3">
					Currently working as a </br> 
					Machine Learning Engineer </br> 
					at Schibsted in Oslo, NO
				</h3>
				<h3 class="cv3">
					Previously studied Math with Informatics (BSc) </br> 
					and Data Science (MSc) at the University of Oslo </br> 
					with a focus on Natural Language Processing 
				</h3>

				<div class="sectioncv">
					<h2 style="color:#b3d9e5">Work</h2>
					{% for item in work_list %}
						<p class="JobTitle">{{ item.main }}</p>
						<p class="explain">{{ item.loc }}</br>
							<em>{{ item.sub }}</em><br/>
							{{ item.start|date:"M Y"}} - {{ item.stop|date:"M Y"}} <br/>
						</p>
					{% endfor %}
				</div>
						
				<div class="sectioncv">
					<h2 style="color:#b3d9e5">Education</h2>
					{% for item in edu_list %}
						<p class="JobTitle">{{ item.main }}</p>
						<p class="explain">{{ item.loc }}</br>
							<em>{{ item.sub }}</em><br/>
							{{ item.start|date:"M Y" }} - {{ item.stop|date:"M Y" }} <br/>
						</p>
					{% endfor %}
				</div>

				<div class="sectioncv">
					<h2 style="color:#b3d9e5">Languages</h2>
					{% for item in lang_list %}
						<p class="JobTitle">{{ item.main }}</p>
						<p class="explain" style="font-size: smaller;">
							{% if item.sub != " " %}
								<em>{{ item.sub }}</em><br/>
							{% endif %}
							{{ now.year|sub:item.start.year }} yr  {{ item.start.month }} m
						</p>
					{% endfor %}
				</div>

			</div>

			{% include "includes/footer.html" %}

		</body>

	</html>
