<!DOCTYPE html>
	<html>
		<head>
			<title>cv</title>
            {% load static %}
			<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
			<link rel="stylesheet" type="text/css" href="{% static 'css/cv.css' %}">
		</head>

		<body>
            <nav>
                <ul>
                    <li><a href="{% url 'home:index' %}">home</a></li>
                    <li><a href="{% url 'home:about' %}">about</a></li>
                    <li><a href="{% url 'home:cv' %}"></a></li>
                    <li><a href="{% url 'home:code' %}">codes</a></li>
                    <li><a href="{% url 'home:notes' %}">notes</a></li>
                    <li><a href="{% url 'home:visuals' %}">visuals</a></li>
                </ul>
            </nav>
			
			<div class="container">
				<img src="https://media-exp1.licdn.com/dms/image/C4E03AQGztnbdA-UPxw/profile-displayphoto-shrink_400_400/0?e=1610582400&v=beta&t=NGMQrwLzgfPlLK_hr4M7qe7MU9cZZ0NozZkR0pI-s_k" class="avatarcv">
				<h1 class="cv1">Per Morten Christopher Halvorsen </h1>
				<h3 class="cv3">Currently studying Data Science (MSc) at the University of Oslo with a focus on Natural Language Processing</h3>
				<h3 class="cv3">Previously studied Mathematics with Informatics (BSc) at the University of Oslo with a focus on Data Science</h3>
				
				
				<div class="sectioncv">
					<h2 style="color:#0000f2">Work Experience</h2>
			
					<p class="JobTitle">Equinor<br/></p>
					<p class="explain">Remote<br/>
						<em>Summer Intern </em><br/>
						June 2020 - August 2020<br/>
						Developer - full-time</p>
			
					<p class="JobTitle">Tøyenbadet<br/></p>
					<p class="explain">Oslo Kommune<br/>
						<em>Lifeguard</em><br/>
						July 2015 - December 2019<br/>
						Lifeguard - part-time</p>
			
					<p class="JobTitle">Tømteveien Barnehage<br/></p>
					<p class="explain">Oppegård Kommune<br/>
						<em>Permanent Substitute</em><br/>
						August 2012 - December 2016<br/>
						Substitute - part-time<br/>
						Permanent Substitute - full-time</p>
			
					<p class="JobTitle">Buffalo Wild Wings Sports Bar<br/></p>
					<p class="explain">Grand Prairie, Texas<br/>
						<em>Cashier/Cook</em><br/>
						July 2010 - May 2012<br/>
						Cashier - part-time<br/>
						Cook - part-time</p>
				</div>
				<div class="sectioncv">
					<h2 style="color:#0000f2">Languages</h2>
					<h5 style="margin-top:-15px; margin-bottom: -10px; font-weight:400;">Ranked from most fluent to newest learned</h5>
			
					<p class="JobTitle">English (25 years)</p>
					<p class="JobTitle">Norwegian (8 years)</p>
					<p class="JobTitle">Python (4.5 years)</p>
					<p class="JobTitle">Git (3 years)</p>
					<p class="JobTitle">SQL (2 year)</p>
					<p class="JobTitle">R (2 years)</p>
					<p class="JobTitle">Azure (1 year)</p>
					<p class="JobTitle">Java (1 year)</p>
			
					<h2 style="color:#0000f2">Learning</h2>
			
					<p class="JobTitle">HTML, CSS, JavaScript, RESTful APIs</p>
			
				</div>
				<div class="sectioncv">
					<h2 style="color:#0000f2">Education</h2>
			
					<p class="JobTitle">University of Oslo<br/></p>
					<p class="explain">Data Science (MSc)<br/>
						<em>Natural Language Processing</em><br/>
						August 2020 - current</p>
			
					<p class="JobTitle">University of Oslo<br/></p>
					<p class="explain">Mathematics w/ Informatics (BSc)<br/>
						<em>Data Science</em><br/>
						August 2016 - June 2020</p>
			
					<p class="JobTitle">Berg Videregående Skole<br/></p>
					<p class="explain"> Oslo, Norway<br/>
						<em>Realfag</em><br/>
						August 2013 - July 2014</p>
			
					<p class="JobTitle">S.G.P. High School<br/></p>
					<p class="explain"> Grand Prairie, Texas<br/>
						<em>General Studies</em><br/>
						August 2010 - July 2012</p>
				</div>
			
			</div>


			<footer>
	    		<ul>
	        		<li><a href="mailto:pmchalvorsen@gmail.com">email</a></li>
	        		<li><a href="https://github.com/pmhalvor">github</a></li>
	        		<li><a href="https://www.linkedin.com/in/pmhalvor">linkedin</a></li>
				</ul>
			</footer>
		</body>

	</html>