<!DOCTYPE html>
	<html>
		<head>
			<title>cv</title>
            {% load static %}
            {% load mathfilters %}
			<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
			<link rel="stylesheet" type="text/css" href="{% static 'css/cv.css' %}">
			<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
		</head>

		<body>
            {% include "includes/navbar.html" %}
			
			<div class="container">
				<img src="{% static 'img/headshot.jpg' %}" class="avatarcv">
				<h1 class="cv1">Per Morten Christopher Halvorsen </h1>
				<h3 class="cv3">Currently studying Data Science (MSc) </br> at the University of Oslo with a focus on Natural Language Processing</h3>
				<h3 class="cv3">Previously studied Math with Informatics (BSc) </br> at the University of Oslo with a focus on Data Science</h3>
				
				<div class="sectioncv">
					<h2 style="color:#0000f2">Languages</h2>
					{% for item in lang_list %}
						<p class="JobTitle">{{ item.main }}</p>
						<p class="explain" style="font-size: smaller;">
							{% if item.sub != " " %}
								<em>{{ item.sub }}</em><br/>
							{% endif %}
							{{ now.year|sub:item.start.year }} yr  {{ item.start.month }} m
						</p>
					{% endfor %}
				</div>

				<div class="sectioncv">
					<h2 style="color:#0000f2">Education</h2>
					{% for item in edu_list %}
						<p class="JobTitle">{{ item.main }}</p>
						<p class="explain">{{ item.loc }}</br>
							<em>{{ item.sub }}</em><br/>
							{{ item.start|date:"M Y" }} - {{ item.stop|date:"M Y" }} <br/>
						</p>
					{% endfor %}
				</div>

				<div class="sectioncv">
					<h2 style="color:#0000f2">Work</h2>
					{% for item in work_list %}
						<p class="JobTitle">{{ item.main }}</p>
						<p class="explain">{{ item.loc }}</br>
							<em>{{ item.sub }}</em><br/>
							{{ item.start|date:"M Y"}} - {{ item.stop|date:"M Y"}} <br/>
						</p>
					{% endfor %}
				</div>
						
			</div>

			{% include "includes/footer.html" %}

		</body>

	</html>