<!DOCTYPE html>
	<html>
		<head>
			<title>cv</title>
            {% load static %}
            {% load mathfilters %}
			<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
			<link rel="stylesheet" type="text/css" href="{% static 'css/cv.css' %}">
		</head>

		<body>
            <nav>
                <ul>
                    <li><a href="{% url 'home:index' %}">home</a></li>
                    <li><a href="{% url 'home:about' %}">about</a></li>
                    <li><a href="{% url 'home:cv' %}">cv</a></li>
                    <li><a href="{% url 'home:code' %}">codes</a></li>
                    <li><a href="{% url 'home:notes' %}">notes</a></li>
                    <li><a href="{% url 'home:visuals' %}">visuals</a></li>
                </ul>
            </nav>
			
			<div class="container">
				<img src="{% static 'img/.jpg' %}" class="avatarcv">
				<h1 class="cv1">Per Morten Christopher Halvorsen </h1>
				<h3 class="cv3">Currently studying Data Science (MSc) at the University of Oslo with a focus on Natural Language Processing</h3>
				<h3 class="cv3">Previously studied Mathematics with Informatics (BSc) at the University of Oslo with a focus on Data Science</h3>

				<div class="sectioncv">
					<h2 style="color:#0000f2">Education</h2>
					{% for item in edu_list %}
						<p class="JobTitle">{{ item.main }}</p>
						<p class="explain">{{ item.loc }}</br>
							<em>{{ item.sub }}</em><br/>
							{{ item.start|date:"M Y" }} - {{ item.stop|date:"M Y" }} <br/>
						</p>
					{% endfor %}
				</div>

				<div class="sectioncv">
					<h2 style="color:#0000f2">Languages</h2>
					{% for item in lang_list %}
						<p class="JobTitle">{{ item.main }}</p>
						<p class="explain" style="font-size: smaller;">
							{% if item.sub != " " %}
								<em>{{ item.sub }}</em><br/>
							{% endif %}
							{{ now.year|sub:item.start.year }} yr {{ now.month|sub:item.start.month }} m
						</p>
					{% endfor %}
				</div>

				<div class="sectioncv">
					<h2 style="color:#0000f2">Work</h2>
					{% for item in work_list %}
						<p class="JobTitle">{{ item.main }}</p>
						<p class="explain">{{ item.loc }}</br>
							<em>{{ item.sub }}</em><br/>
							{{ item.start|date:"M Y"}} - {{ item.stop|date:"M Y"}} <br/>
						</p>
					{% endfor %}
				</div>
						
			</div>

			<footer>
	    		<ul>
	        		<li><a href="mailto:pmchalvorsen@gmail.com">email</a></li>
	        		<li><a href="https://github.com/pmhalvor">github</a></li>
	        		<li><a href="https://www.linkedin.com/in/pmhalvor">linkedin</a></li>
				</ul>
			</footer>
		</body>

	</html>