<!DOCTYPE html>
	<html>
		<head>
            {% load static %}
			<title>home</title>
			<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
			<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
            <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        </head>

		<body>
            <header>
				<div class="banner">
					<img src="{% static 'img/dripcut.jpg' %}" class="driphead">
					<div class="firstname" id="first"><em>PER</em></div>
					<div class="middlename" id="middle"><em>MORTEN</em></div>
					<div class="lastname" id="last"><em>HALVORSEN</em></div>
				</div>

            </header>

            
            {% include "includes/navbar.html" %}

            <div class="container" id="return">
                <img src="{% static 'img/lookingcolors.jpg' %}" class="avatar"/>
                <h1> A nerdy, data-oriented, house-enthusiast</h1>
                <p>
                    Hey there, and welcome to my site. <br>
                    Here you'll find some of the projects I've worked on, both at school and home. <br>
                </p>

                <h2><em>Recent updates:</em></h2>
                <div class="row">
                    {% for item in update_list %}
                        <div class="card">
                            <a href="{{ item.file_loc }}" class="card">
                                <img src="{{ item.img_loc.url }}" class="card">
                                <h3><em>{{ item.title }}</em></h3>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            
            
			{% include "includes/footer.html" %}

            
		</body>
		
</html>

