<!DOCTYPE html>
	<html>
		<head>
            {% load static %}
			<title>home</title>
			<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
			<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
		</head>

		<body>
            <header>
				<div class="banner">
					<img src="{% static 'img/dripcut.jpg' %}" class="driphead">
					<div class="firstname" id="first"><em>PER</em></div>
					<div class="middlename" id="middle"><em>MORTEN</em></div>
					<div class="lastname" id="last"><em>HALVORSEN</em></div>
				</div>

            </header>

            <nav>
                <ul>
                    <li><a href="{% url 'home:index' %}">home</a></li>
                    <li><a href="{% url 'home:about' %}">about</a></li>
                    <li><a href="{% url 'home:cv' %}">cv</a></li>
                    <li><a href="{% url 'home:code' %}">codes</a></li>
                    <li><a href="{% url 'home:notes' %}">notes</a></li>
                    <li><a href="{% url 'home:visuals' %}">visuals</a></li>
                </ul>
            </nav>

            <div class="container">
                <img src="{% static 'img/lookingcolors.jpg' %}" class="avatar"/>
                <h1> A nerdy, data-oriented, house-enthusiast</h1>
                <p>
                    Hey there, and welcome to my site. <br>
                    Here you'll find some of the projects I've worked on, both at school and home. <br>
                </p>

                <div class="row">
                    {% for item in update_list %}
                        <a href="{{ item.file_loc }}" class="card">
                            <img src="{{ item.img_loc.url }}" class="card">
                            <h3 style="color:red"><em>{{ item.title }}</em></h3>
                        </a>
                    {% endfor %}
                </div>
                <p>And that's all!</p>
            </div>
            
            
            
			<footer>
                <ul>
                    <li><a href="mailto:pmchalvorsen@gmail.com">email</a></li>
	        		<li><a href="https://github.com/pmhalvor">github</a></li>
	        		<li><a href="https://www.linkedin.com/in/pmhalvor">linkedin</a></li>
				</ul>
            </footer>
            
            
		</body>
		
</html>

