<!DOCTYPE html>
	<html>
		<head>
            {% load static %}
            {% load url %}
			<title>about</title>
			<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
			<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
		</head>

		<body>
            <header>
				<div class="banner">
					<img src="{% static 'img/dripcut.jpg' %}' %}" class="driphead">
					<div class="firstname" id="first"><em>PER</em></div>
					<div class="middlename" id="middle"><em>MORTEN</em></div>
					<div class="lastname" id="last"><em>HALVORSEN</em></div>
				</div>

            </header>

            <nav>
                <ul>
                    <li><a href="{% url 'home:index' %}">home</a></li>
                    <li><a href="{% url 'home:about' %}">about</a></li>
                    <li><a href="{% url 'home:cv' %}"></a></li>
                    <li><a href="{% url 'home:code' %}">codes</a></li>
                    <li><a href="{% url 'home:notes' %}">notes</a></li>
                    <li><a href="{% url 'home:visuals' %}">visuals</a></li>
                </ul>
            </nav>

            

            

            <div class="container">
                <img src="{% static 'img/lookingcolors.jpg' %}" class="avatar"/>
                <h1> A nerdy, data-oriented, house-enthusiast</h1>
                <p>
                    Hey there, and welcome to my site. <br>
                    Here you'll find some of the projects I've worked on, both at school and home. <br>
                </p>

                <div class="row">
                    <a href="{% static 'notes/SpotifyVisuals.html' %}" class="card">
                        <img src="{% static 'img/Spotify.png' %}" class="card">
                        <h3 style="color:red"><em>Playing w/ Spotify API</em></h3>
                    </a>
                    <a href="{% static 'notes/Privacy.html' %}" class="card">
                        <img src="{% static 'img/private.png' %}" class="card">
                        <h3 style="color:red"><em>Differential privacy</em></h3>
                    </a>
                    <a href="{% static 'notes/LinearLogarithmicPolynomialRegressions.html' %}" class="card">
                        <img src="{% static 'img/LinearQuad.png' %}" class="card">
                        <h3 style="color:red"><em>Linear models</em></h3>
                    </a>
                    <a href="{% static 'notes/sklearnTools.html' %}" class="card">
                        <img src="{% static 'img/sklearn.png' %}" class="card">
                        <h3 style="color:red"><em>Intro to SciKit-Learn</em></h3>
                    </a>
                    <a href="{% static 'notes/Reproducibility.html' %}" class="card">
                        <img src="{% static 'img/again.png' %}" class="card">
                        <h3 style="color:red"><em>Reproducibility</em></h3>
                    </a>
                    <a href="{% static 'notes/Trees.html' %}" class="card">
                        <img src="{% static 'img/Trees.png' %}" class="card">
                        <h3 style="color:red"><em>Classification trees</em></h3>
                    </a>
                    <a href="{% static 'notes/VariableExclusion.html' %}" class="card">
                        <img src="{% static 'img/PC.png' %}" class="card">
                        <h3 style="color:red"><em>Variable exclusion</em></h3>
                    </a>
                </div>
            
            </div>

			
			<footer>
	    		<ul>
	        		<li><a href="mailto:pmchalvorsen@gmail.com">email</a></li>
	        		<li><a href="https://github.com/pmhalvor">github</a></li>
	        		<li><a href="https://www.linkedin.com/in/pmhalvor">linkedin</a></li>
				</ul>
            </footer>
            

		</body>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-146435196-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-146435196-1');
		</script>
	</html>
