<!DOCTYPE html>
	<html>
		<head>
			<title>notes</title>
            {% load static %}
			<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
			<link rel="stylesheet" type="text/css" href="{% static 'css/notes.css' %}">
			<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
		</head>

		<body>
            {% include "includes/navbar.html" %}
			
			<div class="container">
				{% for item in notes_list %}
					<div class="card">
						<a href="{{ item.file_loc.url }}">
							<img src="{{ item.img_loc.url }}" class="card">
							<h3>{{ item.title }}</h3>
							<p> {{ item.descr }} </p>
						</a>
					</div>
				{% endfor %}

			</div>
			
			{% include "includes/footer.html" %}
		</body>

	</html>