<!DOCTYPE html>
	<html>
		<head>
			<title>prompts</title>
            {% load static %}
            {% load home_tags %}
			<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
			<link rel="stylesheet" type="text/css" href="{% static 'css/prompts.css' %}">
			<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
		</head>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-VK53JVJFXL"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-VK53JVJFXL');
		</script>

		<body>
            {% include "includes/navbar2.html" %}
			<div class="container">
				<h1 class="cv1">Prompts</h1>
				<h3>Quick chats with ChatGPT</h3>
				You may need to be logged in to view some of these prompts.

				{% for item in prompts_list %}
					{% card img_url=item.img_url title=item.title descr=item.descr file_url=item.file_url %}
				{% endfor %}
			</div>


			{% include "includes/footer.html" %}
		</body>

	</html>
