<!DOCTYPE html>
	<html>
		<head>
			<title>prompts</title>
            {% load static %}
			<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
			<link rel="stylesheet" type="text/css" href="{% static 'css/notes.css' %}">
			<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
		</head>

		<body>
            {% include "includes/navbar.html" %}
			<h1 class="cv1">Prompts</h1>
			<h3>Quick chats with ChatGPT</h3>
			<div class="container">
				<div class="card">
					<a href= "https://chat.openai.com/share/7dccc3ca-575f-4a00-890e-97ce67424cce" class="card">
						<img src="{% static 'img/chatgpt_logo.png' %}" class="card">
						<h3>Activation Functions</h3>
						<p>A refresher on activation functions and weight decay with an example.</p>
					</a>
				</div>
				<div class="card">
					<a href= "https://chat.openai.com/share/b3d02f46-ded9-4ad5-bf6d-7eff8f3f018e" class="card">
						<img src="{% static 'img/chatgpt_logo.png' %}" class="card">
						<h3>Rom-com Movie suggestions</h3>
						<p>Brainstorming what to watch with a robot assistant.</p>
					</a>
				</div>
				
				<div class="card">
					<a href= "https://chat.openai.com/share/2de6f54c-84d3-40f2-b6bc-76a54b8f2f27" class="card">
						<img src="{% static 'img/chatgpt_logo.png' %}" class="card">
						<h3>Python reduce function</h3>
						<p>Two breif examples of how "functools.reduce" works.</p>
					</a>
				</div>
				
					
				<!-- <div class="card">
					<a href= "{% static 'notes/SpotifyVisuals.html' %}" class="card">
						<img src="{% static 'img/Spotify.png' %}" class="card">
						<h3>Spotify API</h3>
						<p>Some visuals using data from the Spotify API</p>
					</a>
				</div>				 -->
				<!-- <div class="card">
					<a href= "{% static 'notes/MedicalProject.pdf' %}" class="card">
						<img src="{% static 'img/medical.png' %}" class="card">
						<h3>Predict symptoms, disease, and recovery from gene data</h3>
						<p>A data science project using gene expressions to 
						predict symptoms, disease status, and recovery 
						probability after placebo.</p>
					</a>
				</div> -->
			</div>


			{% include "includes/footer.html" %}
		</body>

	</html>
