<!DOCTYPE html>
	<html>
		<head>
			<title>visuals</title>
            {% load static %}
			<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
			<link rel="stylesheet" type="text/css" href="{% static 'css/notes.css' %}">
		</head>

		<body>
            {% include "includes/navbar.html" %}
			
			<div class="container">
				<div class="card">
					<a href= "https://github.com/pmhalvor/website/tree/master/static/nb/data_science_tools" class="card">
						<img src="{% static 'img/python.png' %}" class="card">
						<h3>Diverse projects in Python</h3>
						<p>Some typical data science analysis using matplotlib and seaborn.</p>
					</a>
				</div>
					
				<div class="card">
					<a href= "{% static notes/SpotifyVisuals.html" class="card">
						<img src="{% static 'img/Spotify.png' %}" class="card">
						<h3>Spotify API</h3>
						<p>Some visuals using data from the Spotify API</p>
					</a>
				</div>				
				<div class="card">
					<a href= "{% static notes/project2.html" class="card">
						<img src="{% static 'img/github.png' %}" class="card">
						<h3>The first part of project 2</h3>
						<p>Some simple data analysis for project in IN-STK5000</p>
					</a>
				</div>
			</div>


			{% include "includes/footer.html" %}
		</body>

	</html>