<!DOCTYPE html>
	<html>
		<head>
			<title>visuals</title>
            {% load static %}
			<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
			<link rel="stylesheet" type="text/css" href="{% static 'css/notes.css' %}">
			<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
		</head>

		<body>
            {% include "includes/navbar.html" %}
			
			<div class="container">
				<div class="card">
					<a href= "https://github.com/pmhalvor/website/tree/master/static/nb/data_science_tools" class="card">
						<img src="{% static 'img/python.png' %}" class="card">
						<h3>Diverse projects in Python</h3>
						<p>Some typical data science analysis using matplotlib and seaborn.</p>
					</a>
				</div>
					
				<div class="card">
					<a href= "{% static 'notes/SpotifyVisuals.html' %}" class="card">
						<img src="{% static 'img/Spotify.png' %}" class="card">
						<h3>Spotify API</h3>
						<p>Some visuals using data from the Spotify API</p>
					</a>
				</div>				
				<div class="card">
					<a href= "{% static 'notes/MedicalProject.pdf' %}" class="card">
						<img src="{% static 'img/medical.png' %}" class="card">
						<h3>Predict symptoms, disease, and recovery from gene data</h3>
						<p>A data science project using gene expressions to 
						predict symptoms, disease status, and recovery 
						probability after placebo.</p>
					</a>
				</div>
			</div>


			{% include "includes/footer.html" %}
		</body>

	</html>
