asgiref==3.3.1
Django==3.1.4
gunicorn==20.0.4
psycopg2-binary==2.8.5
pytz==2020.4
sqlparse==0.4.1
django-mathfilters==1.0.0
django-extensions==3.1.1
Pillow==8.1.2
pandas==1.2.3
azure-storage-file-share=12.4.1
plotly==4.14.3
