asgiref==3.3.1
Django>=3.1.4
django_extensions>=3.2.3
gunicorn==20.0.4
psycopg2-binary==2.8.6
pytz==2020.4
sqlparse==0.4.1
django-mathfilters
Pillow
pandas==1.4.1
plotly
nbformat>=4.2.0
requests==2.28.1
matplotlib==3.5.3
