/* PAGE SPECIFIC CONTENTS */
.container{
    font-size: 1.3em;
}
div.sectioncv{
	display: inline-block;
	width: 28%;
    min-width: 200px;
    margin-left: 2%;
    margin-right: 2%;
    z-index:1;
}


h1 {
	text-shadow: 2px 2px 2px  #7f7f7f;
}
h3.cv3{
    text-align: right;
    text-shadow: 2px 2px 2px #7f7f7f;
    margin: 3%
}

img.avatarcv{
	border-radius: 50%;
	height: 300px;
	width: 300px;
	float: left;
	margin-left: -3%;
	margin-top: -30px;
}

p.JobTitle{
    text-align: left;
    font-weight: 600;
}
p.explain{
    font-weight: 400;
    text-align: left;
    margin-top: -20px;
}
