/* PAGE SPECIFIC CONTENTS */
div.container{
    background-color: rgb(222, 229, 222);
    border-radius: 13px;
    font-family:'Source Sans Pro', sans-serif;
    font-weight: 400;
    margin-right: 20px;
    margin-left: 5px;
    margin-top: 5%;
    font-size: 1.5em;
    z-index: -1;
}
div.sectioncv{
	display: inline-block;
	width: 28%;
    min-width: 200px;
    margin-left: 2%;
    margin-right: 2%;
    z-index:1;
}


h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
	font-weight: 900;
	text-shadow: 2px 2px 2px  #7f7f7f;
	text-align: right;
    margin-right: 5%;
}
h3.cv3{
    text-align: right;
	text-shadow: 2px 2px 2px #7f7f7f;
    margin-right: 6%;
    margin-left: 50%;
}
img{
    border-radius: 50%;
	margin-left: 0px;
	margin-top: -15px;
    width: 300px;
    height: 300px;
    float: left;
    z-index: 0;
}

p.JobTitle{
    font-weight: 600;
}
p.explain{
    font-weight: 400;
    margin-top: -20px;
}
