
<html>
	<head>
		<title>radio</title>
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/radio.css' %}">
		<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
	</head>

	<body>
		{% include "includes/navbar.html" %}

		<div class="container">
			<h1 class="title">RADIO</h1>
			<p>{{ welcome }}</p>
			<p>{{ intro }}</p>

			<div class="main" style="display:inline-block">
				<div class="column">
					<div class="playing" id="playing">
						{% include "includes/playing.html" %}
					</div>
				</div>
				<!-- <div class="column">
					<div class="search">
						<h1>recommend</h1>
						<input type="text" name="query">
						<input type="submit" value="SEARCH">
						<div class="results">
							<table id="table">
								<thead>
									<tr>
										<th>artist</th> 
										<th>track</th> 
										<th>album</th> 
										<th>suggest</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td id="artist">John Cage with friends </td>
										<td id="track">1992</td>
										<td>
											<img src="https://perhalvorsen.com/media/img/empty_album.png" class="search_art">
										</td>
										<td><input type="button" value="+"></td>
									</tr>
									<tr>
										<td>John Cage with friends plus a quartett and some random street drummer and a gospel choir</td>
										<td>1992</td>
										<td>
											<img src="https://perhalvorsen.com/media/img/empty_album.png" class="search_art">
										</td>
										<td><input type="button" value="+"></td>
									</tr>
									<tr>
										<td>John Cage with friends </td>
										<td>A longer song name than 1992, am I right?</td>
										<td>
											<img src="https://perhalvorsen.com/media/img/empty_album.png" class="search_art">
										</td>
										<td><input type="button" value="+"></td>
									</tr>
									<tr>
										<td id="artist">John Cage with friends </td>
										<td id="track">1992</td>
										<td>
											<img src="https://perhalvorsen.com/media/img/empty_album.png" class="search_art">
										</td>
										<td><input type="button" value="+"></td>
									</tr>
									<tr>
										<td id="artist">John Cage with friends </td>
										<td id="track">1992</td>
										<td>
											<img src="https://perhalvorsen.com/media/img/empty_album.png" class="search_art">
										</td>
										<td><input type="button" value="+"></td>
									</tr>
									<tr>
										<td>John Cage with friends plus a quartett and some random street drummer and a gospel choir</td>
										<td>1992</td>
										<td>
											<img src="https://perhalvorsen.com/media/img/empty_album.png" class="search_art">
										</td>
										<td><input type="button" value="+"></td>
									</tr>
									<tr>
										<td>John Cage with friends </td>
										<td>A longer song name than 1992, am I right?</td>
										<td>
											<img src="https://perhalvorsen.com/media/img/empty_album.png" class="search_art">
										</td>
										<td><input type="button" value="+"></td>
									</tr>
									<tr>
										<td id="artist">John Cage with friends </td>
										<td id="track">1992</td>
										<td>
											<img src="https://perhalvorsen.com/media/img/empty_album.png" class="search_art">
										</td>
										<td><input type="button" value="+"></td>
									</tr>
									<tr>
										<td>John Cage with friends plus a quartett and some random street drummer and a gospel choir</td>
										<td>1992</td>
										<td>
											<img src="https://perhalvorsen.com/media/img/empty_album.png" class="search_art">
										</td>
										<td><input type="button" value="+"></td>
									</tr>
									<tr>
										<td>John Cage with friends </td>
										<td>A longer song name than 1992, am I right?</td>
										<td>
											<img src="https://perhalvorsen.com/media/img/empty_album.png" class="search_art">
										</td>
										<td><input type="button" value="+"></td>
									</tr>
								</tbody>
							</table>

						</div>
						<div>
							<h5>my recommendations</h5>
							<table id="recommendations">
							</table>
						</div>
					</div>
				</div> -->
			</div>

			<br>
			<br>
			<br>

			<h1 style="text-align: right;">recently played</h1>
			<ul class="row" id="recents">
				{% include "includes/recents.html" %}
			</ul>
			
		</div>
		

		
		{% include "includes/footer.html" %}

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script type="text/javascript" >  
			// it'd be nice to get this into it's own file
			var progressbar = document.getElementById("bar");

			var duration = "{{ current.duration }}"*1;  // *1 to make int not string
			var progress = "{{ current.progress }}"*1;
			var percentage;

			function updateProgress(){
				progress = progress + 1000;
				if (duration==0){
					// do nothing
					return;
				}
				else if (progress<duration) {
					percentage = Math.round(100*progress/duration);
					progressbar.style.width = percentage +"%";
					progressbar.innerHTML = percentage +"%";
					return percentage;
				}
				else {
					$.ajax({ // UPDATE NOW PLAYING
						url: "{% url 'current' %}",
						success: function(json) {
							console.log(json.artist, '-', json.track);
							$("#playingArtist").html(json.artist);
							$("#playingTrack").html(json.track);
							$("#artwork").attr("src", json.artwork);
							progress = json.progress*1;
							duration = json.duration*1;
						}
					});
					$.ajax({ // UPDATE RECENTLY PLAYED 
						url: "{% url 'recents' %}",
						success: function(data) {
							$("#recents").html(data);
						}
					});
				}
			}

			var updating = setInterval(updateProgress, 1000);
		</script>

		<script type="text/javascript">
			$("#table tr").click(function(){
				var artist=$(this).find("#artist").html();
				var track=$(this).find("#track").html();
				var id = artist+track;
				id = id.replace(/ /g,'');
				if ($(this).hasClass('selected')){
					$(this).removeClass('selected');
					$("#"+id).remove();
				}else{
					$(this).addClass('selected');    
					$("#recommendations").append("<tr id=\""+id+"\"><td>"+artist+"</td><td>"+track+"</td></tr>");  
				}
			});

		</script>
	</body>

</html>