/* HOME BANNER */
div.banner{
    font-family: 'Poppins', sans-serif;
	font-weight: 900;
    font-size: 500%;
	color: rgba(0,0,0,0);
	text-shadow: 2px 2px 3px #d0d0d6;
	z-index: 1;
}
img.driphead{
    width:100%;
    top: 200px;
    margin-top: -50px;
    margin-left: -10px;
    z-index: -1;
}
#first{
    position: absolute;
    top: 0px;

}
@media screen and (max-width: 700px){
    #middle{
        position: absolute;
        visibility: hidden;
    }
    #last{
        position: absolute;
        top:50px;
    }
}
@media screen and (min-width: 700px) and (max-width: 900px){
    #middle{
        position: absolute;
        top:60px;
    }
    #last{
        position: absolute;
        top:120px;
    }
}
@media screen and (min-width: 900px) and (max-width:1300px){
    #middle{
        position: absolute;
        top:100px;
    }
    #last{
        position: absolute;
        top:200px;
    }
}
@media screen and (min-width: 1300px){

    #middle{
        position: absolute;
        top:150px;
    }
    #last{
        position: absolute;
        top:300px;
    }
}

/* INTRO */
.container{
    background-color: rgb(37,37,37,0.0);
}
div.intro-text{
    text-align: right;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    text-shadow: -0.05em 0.05em rgb(84, 96, 230), -0.1em 0.1em rgb(7, 16, 118);
}
img.avatar{
    border-radius: 50%;
    height: auto;
    width: 50%;
    position: absolute;
    top: 7%;
    left: 5%;
    z-index: -1;
}
h1{
    font-family: 'Poppins', sans-serif;
    text-shadow: -0.05em 0.05em rgb(158, 168, 218), -0.1em 0.1em rgb(84, 96, 230), -0.15em 0.15em rgb(29, 43, 197), -0.2em 0.2em rgb(7, 16, 118);
    font-size: 7em;
    font-weight: 900;
    text-align: right;
    font-style: italic;
    margin-top: -5%;
}
h2{
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    font-weight: 700;
    text-align: left;
}


/* NEWSTAND */
.row{
    overflow: auto;
    white-space: nowrap;
    margin-left: 15px;
    margin-right: 15px;
    padding: 2%;
    background-color: rgb(75, 75, 75, 0.50);
    border-radius: 10px;
}
.row::-webkit-scrollbar{
    width: 10px;
}
.row::-webkit-scrollbar-thumb{
    background-color: rgb(70,70,70);
    border-radius: 5px;
}
.row::-webkit-scrollbar-track{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: black;
}
img.img-card{
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-top:20px;
}

div.tags{
    font-family: 'Poppins', sans-serif;
    font-size: 0.75em;
    font-weight: 700;
    text-align: center;
    color: white;
}

