.about{
    background-color: rgb(37, 37, 37, 0.15);
    text-shadow: -0.075em 0.075em rgb(7, 16, 118);
}
h2{
    text-align: left;
	font-style: italic;
	font-family: 'Poppins', sans-serif;
    text-shadow: -0.1em 0.1em rgb(84, 96, 230), -0.2em 0.2em rgb(7, 16, 118);
    font-size: 4em;
    font-weight: 700;
}
p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    font-style: italic;
    text-align: right;
}