/* BACKGROUND IMAGE */
body{
	background-color: #ffffff;
}

h1{
    font-family: 'Staatliches', sans-serif;
    font-size: 15em;
    text-align: center;
    margin-top: -5%;
}
h2{
    text-align: center;
	font-family: 'Staatliches', sans-serif;
    font-size: 3em;
    font-style: italic;
    margin-bottom: -5%;
}
.container{
    background-color: rgb(37,37,37,0.0);
    border-radius: 13px;
    color: rgb(0, 0, 0);
	font-family: 'Staatliches', sans-serif;
	font-size: 2em;
    font-weight: 700;
    margin-left: 15px;
    margin-right: 25px;
    padding: 2%;
    text-align: center;
    z-index: 1;
    position: relative;
}


/* FORM FORMATTING */
.container form{
    max-width:520px;
    margin:0 auto;
    text-align:right;
    position: relative;
    z-index: 2;
}
.container form label{
    display:block;
    font-weight:700;
    margin-bottom:6px;
    color:inherit
}
.container form input{
    width:50%;
    box-sizing:border-box;
    padding:12px 14px;
    margin-bottom:12px;
    margin-left:auto;
    display:block;
    border:2px solid #000;
    background:#fff;
    color:inherit;
    font-family:inherit;
    font-weight:700;
    border-radius:6px;
    font-size:.75em
}
.container form button[type="submit"]{
    background:#000;
    color:#fff;
    border:2px solid #000;
    padding:10px 18px;
    font-weight:700;
    font-family:inherit;
    border-radius:6px;
    cursor:pointer
}
.container form button[type="submit"]:hover{
    opacity:.9
}
.container form input::placeholder{
    color:#666;
    font-weight:700
}


/* INVITE CONTENT */
.invite-content{
    padding: 2%;
    width: 75%;
    margin: 0 auto;
    font-family: 'Staatliches', sans-serif;
    font-weight: 900;
    font-size: 2em;
    text-align: center;
}


/* BAUHAUS SHAPES */
.red-rectangle {
    position: absolute;
    top: 7%;
    left: 10%;
    width: 900px;
    height: 275px;
    background-color: #cf0000;
    z-index: -1;
    pointer-events: none;
    will-change: transform;
    transform: translateY(0);
}
.blue-square {
    position: absolute;
    top: 10%;
    right: 12%;
    width: 500px;
    height: 500px;
    background-color: #3939fa;
    z-index: -1;
    pointer-events: none;
    will-change: transform;
    transform: translateY(0);
}
.yellow-triangle {
    position: absolute;
    top: 20%;
    left: 25%;
    width: 0;
    height: 0;
    border-left: 300px solid transparent;
    border-right: 300px solid transparent;
    border-bottom: 500px solid #ecd801;
    z-index: -1;
    pointer-events: none;
    will-change: transform;
    transform: translateY(0);
}  
.blue-circle {
    position: absolute;
    top: 30%;
    left: 5%;
    width: 650px;
    height: 650px;
    background-color: #3939fa;
    border-radius: 50%;
    z-index: -1;
    pointer-events: none;
    will-change: transform;
    transform: translateY(0);
}
.yellow-square {
    position: absolute;
    top: 52%;
    right: 25%;
    width: 420px;
    height: 420px;
    background-color: #ecd801;
    z-index: -1;
    pointer-events: none;
    will-change: transform;
    transform: translateY(0);
} 
.red-circle {
    position: absolute;
    top: 40%;
    right: 11%;
    width: 450px;
    height: 450px;
    background-color: #cf0000;
    border-radius: 50%;
    z-index: -1;
    pointer-events: none;
    will-change: transform;
    transform: translateY(0);
}
.blue-rectangle {
    position: absolute;
    bottom: 18%;
    right: 20%;
    width: 700px;
    height: 200px;
    background-color: #3939fa;
    z-index: -1;
    pointer-events: none;
    will-change: transform;
    transform: translateY(0);
}
.red-triangle {
    position: absolute;
    bottom: 7%;
    left: 40%;
    width: 0;
    height: 0;
    border-left: 250px solid transparent;
    border-right: 250px solid transparent;
    border-bottom: 400px solid #cf0000;
    z-index: -1;
    pointer-events: none;
    will-change: transform;
    transform: translateY(0);
}  


/* LOCAL FONTS */
@font-face {
    font-family: "Staatliches";
    src: url('../fonts/Staatliches-Regular.ttf');
}

